extends layout

block content
    div.home-hero
        h1 Welcome to ES IT News Management
        h3 demo application built with Backbone.js, Twitter Bootstrap, Node.js, Express, and MongoDB
        <br/>
        div(style:"opacity: .9;")
            a.btn.btn-large.btn-primary(href="/messages")
                img.pull-left(src="../images/news.png",style="margin-right:6px;")
                p.
                    Browsing
