extends layout

block content
    h1= title
    br
    a.btn.btn-primary.btn-large(href="/newmessage")
        p Add a new message
    hr
    div.row-fluid
        table.table
            thead
                tr
                    td(style="width: 10%;")
                        h5 subject
                    td(style="width: 70%;")
                        h5 contents
                    td(style="width: 10%;")
                        h5 author
                    td(style="width: 5%;")
                        h5 Edit?
                    td(style="width: 5%;")
                        h5 Delete?
            tbody
                #messages
                    - each message in messages
                        tr
                            div.message
                                td
                                    div.title= message.subject
                                td
                                    div.name= message.contents
                                td
                                    div.author= message.author
                                td
                                    a.btn.btn-primary Edit
                                td
                                    a.btn.btn-primary.btn-danger Delete
